<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul>
    <% Object.keys(urls).forEach((key)=> {%>
      <li>
        <%= key%>: <%= urls[key]%>
        <form>
          <input type="submit" name="edit" formmethod="GET" value="Edit" formaction="/urls/<%= key%>">
          <input type="submit" name="delete" formmethod ="POST" value="Delete" formaction="/urls/<%= key%>/delete">
        </form>
      </li>
    <%});%>
  </ul>
  <form action="/urls/new" method="GET">
    <input type="submit" value="Add new link">
  </form>


  </form>

</body>
</html>