<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul>
    <% Object.keys(urls).forEach((key)=> {%>
      <li>
        <%= key%>: <%= urls[key]%> <a href="/urls/<%= key%>">Edit</a>
        <form action="/urls/<%= key%>/delete" method="POST">
          <input type="submit" name="delete" value="Delete url">
        </form>
      </li>
    <%});%>
  </ul>
  <button formaction="/urls/new" formmethod="GET">Add new link</button>

  </form>

</body>
</html>