<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head%>
</head>
<body>
  <% include ./partials/_header%>
  <p>Please log in</p>
  <form action="/login" method="POST">
    <div>
      <label for="email">Email: </label>
      <input type="email" name="email" placeholder="youremail@example.com">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" name="submit">
    </div>
  </form>
</body>
</html>