<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head%>
</head>
<body>
    <% include ./partials/_header%>
  <h1>ShortURL: <%= shortURL%>
  <form action="/urls/<%= shortURL%>/update" method="POST">
    <input type="text" name="updateURL" id="updateURL" value="<%= longURL%>" style="width: 200px">
    <input type="submit" name="update" value="Update">
  </form>
</body>
</html>